body {
  background-color: #555;
}

#root {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
  max-width: 1138px;
  padding: 30px;
  text-align: center;
}
